@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* 
color palette: 
red: #ffadad
orange: #ffd6a5
yellow: #fdffb6
green: #caffbf
light blue: #9bf6ff
blue: #a0c4ff
purple: #bdb2ff
pink: #ffc6ff
*/

* {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #fcf5c7;
}

/* text specific */
.border-text {
    font-size: 26px;
    font-weight: 500;
    color: #fcf5c7;
}

.control-text {
    font-size: 18px;
    color: #33333388;
    margin-bottom: 8px;
}

.control-center {
    align-self: center;
}


/* basic layout items */
.header {
    background-color: #a0ced9;
    height: 24px;
    margin: 0;
    padding: 8px;
    padding-left: 24px;
    z-index: 20;
    box-shadow: 0 4px 4px 2px #66666611;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #a0ced9;
    height: 16px;
    margin: 0;
    padding: 16px
}

.container {
    background-color: #fcf5c7;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 64px;
    gap: 48px;
}

/* etch-a-sketch items */
.etch-screen {
    display: flex;
    flex-wrap: wrap;
    height: 756px;
    width: 1200px;
    align-items: stretch;
    background-color: white;
    border: 3px solid #ffee93;
    box-shadow: 0 0 12px 8px #6666661a;
}

.etch-pixel{
    flex-wrap: wrap;
    flex: 1 1 0;
    background-color: white;
}

.bordered {
    outline: 1px solid #66666611;
}

/* control menu items */
.control-menu {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    background-color: #a0ced9;
    color: #333333aa;
    height: 256px;
    width: 396px;
    padding: 16px;
    padding-top: 32px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 2px #66666622;
}

/* generate grid items */
.generate-menu {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 24px;
}

#grid-size {
    width: 200px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #66666677;
}

.generate {
    flex-basis: 33%;
    background-color: #adf7b6;
    color: inherit;
    border: 1px solid #22222222;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #66666611;
}

.generate:hover {
    background-color: #95d79e;
    color: #33333388;
    cursor: pointer;
    transform: translateY(-1px);
}

.generate:active {
    transform: translateY(1px);
}

/* extra options menu */
.options-menu {
    margin-top: 24px;
    margin-left: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.clear-canvas {
    height: 32px;
    width: 148px;
    background-color: #ffc09f;
    color: inherit;
    border: 1px solid #22222222;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #66666611;
}

.clear-canvas:hover {
    background-color: #e0ab8c;
    color: #33333388;
    cursor: pointer;
    transform: translateY(-1px);
}

.clear-canvas:active {
    transform: translateY(1px);
}

.grid-checkbox {
    margin-left: -24px;
    height: 20px;
    width: 20px;
}

.color-container {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 42px;
    margin-left: 96px;

}

.color-picker {
    width: 64px;
}

/* dumb footer because i saw other people do it */
.github-link {
    cursor: pointer;
}

.github-link.hover {
    cursor: pointer;
    text-shadow: #22222222;
}